@import "tailwindcss";

:root {
  --bg-dark: hsl(0, 0%, 90%);
  --bg: hsl(0, 0%, 95%);
  --bg-light: hsl(0, 0%, 100%);

  --text: hsl(31, 0%, 15%);
  --text-muted: hsl(0, 0%, 30%);

  --border: hsl(31, 21%, 27%);
  --border-muted: hsl(31, 14%, 84%);

  --primary: hsl(28, 100%, 50%);
  --secondary: hsl(95 30% 49%);
}

@theme inline {
  --font-sans: var(--font-public-sans);
  --font-mono: var(--font-geist-mono);

  --color-background: var(--background);

  --color-bg: var(--bg);
  --color-bg-dark: var(--bg-dark);
  --color-bg-light: var(--bg-light);

  --color-text: var(--text);
  --color-text-muted: var(--text-muted);

  --color-border: var(--border);
  --color-border-muted: var(--border-muted);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

/* @media (prefers-color-scheme: dark) {
  :root {
  --bg-dark: hsl(0, 0%, 6%);
  --bg: hsl(0, 0%, 9%);
  --bg-light: hsl(0, 0%, 15%);

  --text: hsl(0, 0%, 90%);
  --text-muted: hsl(0, 0%, 70%);

  --border: hsl(32, 21%, 27%);
  --border-muted: hsl(31, 12%, 84%);

  --primary: hsl(31 90% 60%);
  --secondary: hsl(95 25% 51%);
  }
} */