@import "tailwindcss";
@plugin "@tailwindcss/typography";


:root {
  --bg: hsl(0, 0%, 10%);
  
  --text: hsl(0, 0%, 95%);
  --text-muted: hsl(218, 14%, 84%);

  --border: hsl(32, 21%, 45%);
  --border-muted: hsl(31, 12%, 17%);
  --border-light: hsl(32, 21%, 60%);

  --shadow: var(--shadow-lg) hsl(32, 21%, 30%);
  
  --primary: hsl(28, 100%, 50%);
  --secondary: hsl(95 30% 49%);

  --shadow-lg: 0 10px 15px -3px;

  --page-width: 72rem;
  --page-padding-x: 4;
  --page-padding-x-lg: 16;
  --page-padding-y: 20;
}

@theme inline {
  --font-sans: var(--font-space-grotesk);
  --font-mono: var(--font-sf-mono);

  --color-bg: var(--bg);

  --color-text: var(--text);
  --color-text-muted: var(--text-muted);

  --color-border: var(--border);
  --color-border-muted: var(--border-muted);
  --color-border-light: var(--border-light);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --shadow-shadow: var(--shadow);

  --spacing-page-width: var(--page-width);
  --spacing-page-padding-x: calc(var(--spacing) * var(--page-padding-x));
  --spacing-page-padding-x-lg: calc(var(--spacing) * var(--page-padding-x-lg));
  --spacing-page-padding-y: calc(var(--spacing) * var(--page-padding-y));

  --animate-wave: wave 2.5s infinite;

  @keyframes wave {
    0% {transform: rotate(0.0deg)}
    10% { transform: rotate(14.0deg) }
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
  }
}

.shadow-card {
  @apply transition-[border-color] transition-shadow duration-300 hover:border-border-light hover:shadow-shadow
}

h1, h2, h3, h4, h5, h6 {
  @apply text-text;
}

h1 {
  @apply text-3xl font-bold;
}

/* Applies to Link Component as well */
a {
  @apply hover:text-primary;
}