@import "tailwindcss";

:root {
  --bg: hsl(0, 0%, 100%);

  --text: hsl(31, 0%, 15%);
  --text-muted: hsl(0, 0%, 30%);

  --border: hsl(31, 21%, 27%);
  --border-muted: hsl(31, 14%, 90%);
  
  --primary: hsl(28, 100%, 50%);
  --secondary: hsl(95 30% 49%);

  --page-width: 72rem;
  --page-padding-x: 4;
  --page-padding-y: 20;
}

@theme inline {
  --font-sans: var(--font-public-sans);
  --font-mono: var(--font-sf-mono);

  --color-bg: var(--bg);

  --color-text: var(--text);
  --color-text-muted: var(--text-muted);

  --color-border: var(--border);
  --color-border-muted: var(--border-muted);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --spacing-page-width: var(--page-width);
  --spacing-page-padding-x: calc(var(--spacing) * var(--page-padding-x));
  --spacing-page-padding-y: calc(var(--spacing) * var(--page-padding-y));
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(0, 0%, 10%);

    --text: hsl(0, 0%, 90%);
    --text-muted: hsl(0, 0%, 70%);

    --border: hsl(32, 21%, 45%);
    --border-muted: hsl(31, 12%, 16%);
  }
}